USE [master]
GO
/****** Object:  Database [Hotel_Booking]    Script Date: 8/31/2023 8:00:51 PM ******/
CREATE DATABASE [Hotel_Booking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel_Booking', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Hotel_Booking.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hotel_Booking_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Hotel_Booking_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel_Booking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel_Booking]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 8/31/2023 8:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[room_id] [int] NULL,
	[user_id] [int] NULL,
	[check_in_date] [date] NULL,
	[check_out_date] [date] NULL,
	[total_price] [decimal](10, 2) NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 8/31/2023 8:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[hotel_id] [int] IDENTITY(1,1) NOT NULL,
	[hotel_name] [varchar](255) NULL,
	[address] [varchar](255) NULL,
	[state] [varchar](255) NULL,
	[country] [varchar](255) NULL,
	[contact] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[description] [varchar](max) NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelImage]    Script Date: 8/31/2023 8:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelImage](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[hotel_id] [int] NULL,
	[image_url] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 8/31/2023 8:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NULL,
	[payment_method] [varchar](255) NULL,
	[payment_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/31/2023 8:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 8/31/2023 8:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[room_id] [int] IDENTITY(1,1) NOT NULL,
	[room_name] [varchar](255) NULL,
	[room_type_id] [int] NULL,
	[price_per_night] [decimal](10, 2) NULL,
	[status] [varchar](50) NULL,
	[description] [varchar](max) NULL,
	[hotel_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomImage]    Script Date: 8/31/2023 8:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomImage](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[room_id] [int] NULL,
	[image_url] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomType]    Script Date: 8/31/2023 8:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomType](
	[room_type_id] [int] IDENTITY(1,1) NOT NULL,
	[room_type_name] [varchar](255) NULL,
	[description] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[room_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 8/31/2023 8:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NULL,
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([booking_id], [room_id], [user_id], [check_in_date], [check_out_date], [total_price], [status]) VALUES (1, 1, 1, CAST(N'2001-12-02' AS Date), CAST(N'2001-12-03' AS Date), CAST(800000.00 AS Decimal(10, 2)), N'Completed')
INSERT [dbo].[Booking] ([booking_id], [room_id], [user_id], [check_in_date], [check_out_date], [total_price], [status]) VALUES (2, 2, 2, CAST(N'2023-06-30' AS Date), CAST(N'2023-07-01' AS Date), CAST(200000.00 AS Decimal(10, 2)), N'Completed')
INSERT [dbo].[Booking] ([booking_id], [room_id], [user_id], [check_in_date], [check_out_date], [total_price], [status]) VALUES (4, 1, 1, CAST(N'2023-07-06' AS Date), CAST(N'2023-07-07' AS Date), CAST(100000.00 AS Decimal(10, 2)), N'Completed')
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[Hotel] ON 

INSERT [dbo].[Hotel] ([hotel_id], [hotel_name], [address], [state], [country], [contact], [email], [description], [status]) VALUES (1, N'LuxHomes Saigon', N'District 1', N'Ho Chi Minh City', N'Vietnam', NULL, N'hotel1@gmail.com', NULL, N'Active')
INSERT [dbo].[Hotel] ([hotel_id], [hotel_name], [address], [state], [country], [contact], [email], [description], [status]) VALUES (2, N' Vinhomes Central Park', N'BinhThanh', N'Ho Chi Minh City', N'Vietnam', NULL, N'ht2@gmail.com', NULL, N'Active')
INSERT [dbo].[Hotel] ([hotel_id], [hotel_name], [address], [state], [country], [contact], [email], [description], [status]) VALUES (8, N'The Classy Life', N'District 7', N'Ho Chi Minh City', N'Vietnam', NULL, N'theclassylife@gmail.com', NULL, N'Active')
SET IDENTITY_INSERT [dbo].[Hotel] OFF
GO
SET IDENTITY_INSERT [dbo].[HotelImage] ON 

INSERT [dbo].[HotelImage] ([image_id], [hotel_id], [image_url]) VALUES (1, 1, N'https://cdn3.ivivu.com/2014/01/SUPER-DELUXE2.jpg')
INSERT [dbo].[HotelImage] ([image_id], [hotel_id], [image_url]) VALUES (2, 1, N'https://cdn3.ivivu.com/2014/01/SUPER-DELUXE2.jpg')
SET IDENTITY_INSERT [dbo].[HotelImage] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [booking_id], [payment_method], [payment_date]) VALUES (1, 1, N'Banking', CAST(N'2001-12-03' AS Date))
INSERT [dbo].[Payment] ([payment_id], [booking_id], [payment_method], [payment_date]) VALUES (3, 12, N'Cash', CAST(N'2023-07-08' AS Date))
INSERT [dbo].[Payment] ([payment_id], [booking_id], [payment_method], [payment_date]) VALUES (4, 5, N'Cash', CAST(N'2023-07-08' AS Date))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'Employee')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (2, N'Customer')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([room_id], [room_name], [room_type_id], [price_per_night], [status], [description], [hotel_id]) VALUES (1, N'LuxHomes Saigon', 1, CAST(1156067.00 AS Decimal(10, 2)), N'Booked', N'Conveniently situated in the Bình Th?nh part of Ho Chi Minh City, this property puts you close to attractions and interesting dining options. Don''t leave before paying a visit to the famous War Remnants Museum. Restaurant, indoor pool and sauna are among the special facilities that will enhance your stay with on-site convenience.', 2)
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomImage] ON 

INSERT [dbo].[RoomImage] ([image_id], [room_id], [image_url]) VALUES (10, 1, N'https://pix8.agoda.net/hotelImages/28445719/-1/72042261901c048af5863ea33acbc3b9.jpg?ca=23&ce=0&s=1024x768&isSkia=true')
INSERT [dbo].[RoomImage] ([image_id], [room_id], [image_url]) VALUES (11, 1, N'https://pix8.agoda.net/hotelImages/28445719/446868997/21a3e3bd464b525469f219bbbbeec544.jpg?ca=28&ce=0&s=1024x768&isSkia=true')
INSERT [dbo].[RoomImage] ([image_id], [room_id], [image_url]) VALUES (12, 1, N'https://q-xx.bstatic.com/xdata/images/hotel/840x460/216688935.jpg?k=abbdf21d0be3a569e0e82119fb3a3fe09af711d580fd0115c0e4137948373b49&o=&isSkia=true')
SET IDENTITY_INSERT [dbo].[RoomImage] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomType] ON 

INSERT [dbo].[RoomType] ([room_type_id], [room_type_name], [description]) VALUES (1, N'Luxury', N'')
INSERT [dbo].[RoomType] ([room_type_id], [room_type_name], [description]) VALUES (2, N'Vip', N'')
INSERT [dbo].[RoomType] ([room_type_id], [room_type_name], [description]) VALUES (3, N'President', N'')
SET IDENTITY_INSERT [dbo].[RoomType] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([user_id], [role_id], [username], [password], [email], [phone]) VALUES (1, 1, N'Nguyen Tien Nhat', N'admin', N'admin@gmail.com', N'0827261123')
INSERT [dbo].[User] ([user_id], [role_id], [username], [password], [email], [phone]) VALUES (2, 2, N'customer', N'customer', N'customer@gmail.com', N'0987654321')
INSERT [dbo].[User] ([user_id], [role_id], [username], [password], [email], [phone]) VALUES (3, 2, N'Nguyen Nhat', N'5Dg)$X8X', N'nguyentiennhat203.fpt@gmail.com', N'0827261123')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[Room] ([room_id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[HotelImage]  WITH CHECK ADD FOREIGN KEY([hotel_id])
REFERENCES [dbo].[Hotel] ([hotel_id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([booking_id])
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD FOREIGN KEY([hotel_id])
REFERENCES [dbo].[Hotel] ([hotel_id])
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD FOREIGN KEY([room_type_id])
REFERENCES [dbo].[RoomType] ([room_type_id])
GO
ALTER TABLE [dbo].[RoomImage]  WITH CHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[Room] ([room_id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
USE [master]
GO
