@model HotelBookingClient.Controllers.AuthController;
@{
    Layout = null;
}
<link href="~/css/authcss/style.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<section class="gradient-form" style="background-color: #eee">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                         style="width: 185px"
                                         alt="logo" />
                                    <h4 class="mt-1 mb-5 pb-1">Booking</h4>
                                </div>

                                <form asp-controller="Auth" asp-action="HandlerResetPassword" method="post">
                                    <p>Reset Password</p>

                                    <div class="mb-4">
                                        <input asp-for="emailReset.Email" class="form-control" placeholder="Phone number or email address" />
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                                                type="submit">
                                            Send
                                        </button>
                                        <a class="text-muted" asp-controller="Auth" asp-action="Login">Login Here!</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">We are more than just a company</h4>
                                <p class="small mb-0">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .toast-success {
        background-color: #28a745;
    }

    .toast-error {
        background-color: #dc3545;
    }

    .toast-info {
        background-color: #17a2b8;
    }

    .toast-warning {
        background-color: #ffc107;
    }

    .alert {
        margin-top: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
</style>
<script>
    $(document).ready(function () {
        // Kiểm tra xem ViewData["Error"] có giá trị không
        var error = '@ViewData["Error"]';
        if (error !== '') {
            toastr.error(error, 'Error', {
                positionClass: 'toast-top-right',
                closeButton: true,
                toastClass: 'toast-error',
                timeOut: 3000
            });
        }
        var success = '@ViewData["Success"]';
        if (success !== '') {
            toastr.success(success, 'Success', {
                positionClass: 'toast-top-right',
                closeButton: true,
                toastClass: 'toast-success',
                timeOut: 3000
            });
        }
    });
</script>