
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <div class="menu-inner-shadow"></div>

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo">
                <a href="index.html" class="app-brand-link">
                    <span>Manager</span>
                </a>
            </div>

            <div class="menu-inner-shadow"></div>

            <ul class="menu-inner py-1">
                <!-- Dashboard -->
                <li class="menu-item">
                    <a href="Admin" class="menu-link">
                        <div data-i18n="Admin">Dashboard</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="Booking" class="menu-link">
                        <div data-i18n="Booking">Booking</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="Hotel" class="menu-link">
                        <div data-i18n="Hotel">Hotel</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="Room" class="menu-link">
                        <div data-i18n="Room">Room</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="RoomType" class="menu-link">
                        <div data-i18n="RoomType">RoomType</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="RoomImage" class="menu-link">
                        <div data-i18n="RoomImage">RoomImage</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="Payment" class="menu-link">
                        <div data-i18n="Payment">Payment</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="Role" class="menu-link">
                        <div data-i18n="Role">Role</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="Account" class="menu-link">
                        <div data-i18n="Account">Account</div>
                    </a>
                </li>
            </ul>
        </aside>

    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
