@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var user = HttpContext.Session.GetString("User");
}

<div class="text-center">
    <h1 class="display-4">Welcome
        @if (user != null)
        {
            <span>@user</span>    
        }
    </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
