@model eBookStoreClient.Controllers.LoginController;

<h1>Login</h1>

<div>
    @if (ViewBag.Error != null)
    {
        <span class="text-danger">@ViewBag.Error</span>
    }
    <form method="post" action="/Login/HandlerLogin">
        <div class="form-group">
            <label asp-for="formLogin.EmailAddress" class="control-label"></label>
            <input asp-for="formLogin.EmailAddress" class="form-control" />
            <span asp-validation-for="formLogin.EmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="formLogin.Password" class="control-label"></label>
            <input type="password" asp-for="formLogin.Password" class="form-control" />
            <span asp-validation-for="formLogin.Password" class="text-danger"></span>
        </div>
        <div class="pt-3">
            <input type="submit" value="Login" class="bg-primary text-white border-1" />
        </div>
    </form>
</div>

