@{
    ViewData["Title"] = "Create";
}
@model IEnumerable<CategoryResponse>

<div class="row">
    <div class="col-12">
        <form method="post" action="/Product/Create">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="control-label">ProductName</label>
                <input class="form-control" type="text" name="ProductName" />
            </div>
            <div class="form-group">
                <label class="control-label">Category</label>
                <select class="form-control" name="CategoryId">
                    @foreach (var item in Model)
                    {
                        <option value="@item.CategoryId">@item.CategoryName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">UnitsInStock</label>
                <input class="form-control" type="text" name="UnitsInStock" />
            </div>
            <div class="form-group">
                <label class="control-label">UnitPrice</label>
                <input class="form-control" type="text" name="UnitPrice" />
            </div>
            <div class="form-group pt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>