@using BusinessObject.DTO.RoleDTO;
@model RoleDTO;


@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-12">
        <form method="post" action="/Role/Edit">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input class="form-control" type="text" name="id" value="@Model.RoleId" hidden />
            </div>
            <div class="form-group">
                <label class="control-label">Role_ID</label>
                <input class="form-control" type="text" name="RoleId" value="@Model.RoleId" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">Role_Description</label>
                <input class="form-control" type="text" name="RoleDesc" value="@Model.RoleDesc" required/>
            </div>
            <div class="form-group pt-3">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
