#intro-example {
    height: 400px;
    background-image: url("../../image/bg3.jpg");
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
    #intro-example {
        height: 400px;
        background-image: url("../../image/bg3.jpg");
    }
}

.container {
    max-width: 1280px !important;
}

.header {
    height: 600px;
}

.search-box {
    width: 1124px;
    height: 80px;
    background-color: #f8f7f9;
    border-radius: 16px;
    box-shadow: #6b6b6b 0px 2px 8px 3px;
    line-height: 22.8571px;
    text-align: center;
}

#search-location {
    margin-left: 16px;
    margin-right: 16px;
    padding-right: 25px;
    width: 600px;
    height: 52px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    background-color: #ffffff;
}

.fa-location-dot {
    color: rgb(77, 77, 77);
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
}

#input-search-location {
    border: none;
    width: 550px;
}

    #input-search-location:focus {
        border: none;
        outline: none;
    }

#search-typeroom {
    width: 350px;
    height: 52px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    background-color: #ffffff;
}

#input-search-typeroom {
    width: 295px;
    border: none;
}

    #input-search-typeroom:focus {
        border: none;
        outline: none;
    }

    #input-search-typeroom option {
        background-color: ffffff;
        font-size: 16px;
    }

.fa-bed-empty {
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-search {
    margin-left: 10px;
    width: 115px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background-color: #0867ff;
    color: white;
}

.customer-title {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin: 8px 0px;
    color: black;
    padding-top: 20px;
}

.box-promo {
    line-height: 22px;
    margin: 32px 0px 16px;
}

.promo {
    margin-bottom: 30px;
    margin-top: 50px;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }

        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.card-img img {
    border-radius: 8px;
    width: 500px;
    height: 180px;
    object-fit: cover;
}

.top-destination {
    margin-top: 50px;
}

.destination-block {
    display: flex;
    justify-content: space-between;
}

    .destination-block .card-location {
        width: 14rem;
        border: none !important;
        background-color: #ffffff !important;
        box-shadow: none !important;
    }

        .destination-block .card-location .card-body {
            background-color: #ffffff;
            padding: 10px;
        }

        .destination-block .card-location .card-title {
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
            color: rgb(42, 42, 46);
            display: flex;
            justify-content: center;
        }

.card-location .card-img-top {
    width: 150px !important;
    height: 150px;
    border-radius: 50% !important;
    margin-left: auto;
    margin-right: auto;
}

.hotel-block {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 20px;
}

    .hotel-block .card {
        border-radius: 0 !important;
        --mdb-card-box-shadow: none !important;
        margin: 10px;
    }

        .hotel-block .card .card-body {
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

#customer-title-hotel {
    color: #2a2a2e !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
}

#customer-type-hotel {
    color: #75a8f9;
    font-size: 14px;
}

#customer-location-hotel {
    color: #75a8f9;
    font-size: 14px;
}

.dot-hotel {
    font-size: 12px;
    color: #75a8f9;
    padding: 2px;
}

#customer-price-hotel {
    color: #e12d2d;
    font-weight: 500;
    line-height: 22px;
}

.card-img-top {
    width: 295px !important;
    height: 200px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

#btn-seemore {
    color: #ffffff;
    border-radius: 4px !important;
    background-color: #0867ff;
    font-weight: 500;
    font-size: 14px;
    border: none;
    width: 290px;
    height: 47px;
    padding: 13px 0px 0px 0px;
}
