@page
@model eStoreClient.Pages.Members.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "CreateMember";
}

<h1>Create Member</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberRequest!.Email" class="control-label"></label>
                <input asp-for="MemberRequest!.Email" class="form-control" />
                <span asp-validation-for="MemberRequest!.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MemberRequest!.CompanyName" class="control-label"></label>
                <input asp-for="MemberRequest!.CompanyName" class="form-control" />
                <span asp-validation-for="MemberRequest!.CompanyName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MemberRequest!.City" class="control-label"></label>
                <input asp-for="MemberRequest!.City" class="form-control" />
                <span asp-validation-for="MemberRequest!.City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MemberRequest!.Country" class="control-label"></label>
                <input asp-for="MemberRequest!.Country" class="form-control" />
                <span asp-validation-for="MemberRequest!.Country" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MemberRequest!.Password" class="control-label"></label>
                <input asp-for="MemberRequest!.Password" class="form-control" />
                <span asp-validation-for="MemberRequest!.Password" class="text-danger"></span>
            </div>

            <div class="form-group pt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}